/*
 * Sonatype Asciidoc Template
 *
 */
 
.warning {
  background: #fff8f7;
  border: 2px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color: #d04437;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 7px 7px 7px 28px;
}

.warning h3 {
  color: #d04437;
}
.caution {
  background: #fff8f7;
  border: 2px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color: #d04437;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 7px 7px 7px 28px;
}

.caution h3 {
  color: #d04437;
}

.important {
  background: #f3f9f4;
  border: 2px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color: #91c89c;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 7px 7px 7px 28px;
}

.important h3 {
  color: #91c89c;
}

.tip {
  background: #f3f9f4;
  border: 2px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color: #91c89c;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 7px 7px 7px 28px;
}

.tip h3 {
  color: #91c89c;
}

.note {
  background: #f3f9f4;
  border: 2px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color: #91c89c;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 7px 7px 7px 28px;
}

.note h3 {
  color: #91c89c;
}

/* --- Sub Nav Styling --- */

#nav-sub-block {
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
}

ul#nav-sub  {
    margin: 0px;
    padding: 0px;
    text-align:center;
}

ul#nav-sub li {
    text-align: center;
    list-style-type: none;
    display: inline-block;
    font-size:13px;
}

ul#nav-sub li.first {
  float:left; 
}
ul#nav-sub li.last {
  float:right;  
}


.preface a, .preface a:hover {
  font-size: 18px;
  color: #135678 !important;
  text-decoration: none;
}

.chapter a, .chapter a:hover {
  font-size: 14px;
  font-style:bold;
  color: #135678 !important;  
  text-decoration: none;
}

.section a, .section a:hover {
  font-size: 14px;
  font-style:bold;
}

.book .titlepage h1.title {
  color: #000;
  font-size: 28px;
}


.book .titlepage hr {
  display: none;
}

.toc_intro {
  margin-top: 20px;
  float: left;
  text-align: justify;
}

